$border_top: 8px solid black;

.bg-image {
    background-image: url(../assets/portada_swing3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    padding: 280px 0 140px;
}


.bg-primary-color {
    background-color: $primary-color;
    padding: 140px 0 60px;
}
footer{
    background-color: $subtitle_color;
    padding: 20px;
}

.margen-background{
    padding: 100px 0;
}


.background-2 {
    background-color: $gray-light;
}

.bg-dark {
    background-color: black!important;
}

@media all and (min-width: 770px) {
    .img-top {
        padding-top: 100px;
    }
}

@media all and (max-width: 600px) {
    .bg-image {
        padding: 150px 0 100px!important;
        p {
            font-size: 1.4rem!important;
        }
    }
}