$text_color: #353535; //negro
$background_botton: #067cbb; //azul
$title_color: white;
$primary_color: #f6bd11;
$subtitle_color: #3d3d3d; //gris texto y footer
$placeholder_color: #b3b3b3; //gris claro
$text_white: white; //blanco
